body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #cedaeb;
}

button {
  background: linear-gradient(to right, #2295b4,#07252d);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px;
  color: #3b495e;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.introduction {
  max-width: 960px;
  margin: auto;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
}
.introduction p {
  margin: auto;
  padding: 5px 20px 5px 20px;
  letter-spacing: 0.3px;
}

a {
  color: #5e17d1;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
  height: 200px;
}

.loading {
  display: center;
  text-align: center;
  font-weight: bolder;
  color: #2c3e50;
}
.error {
  display: center;
  text-align: center;
  font-weight: bolder;
  color: #2c3e50;
}

@media (max-width: 600px) {
  button {
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  header {
    height: 400px;
  }
}